@charset "UTF-8";
@media (max-width: 550px) {
  /* général */
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
  }

  h4 {
    font-size: 22px;
    font-weight: normal;
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
  }

  #loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    animation: loader 2s linear 3s;
    animation-fill-mode: forwards;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 10px solid #e2e2e2;
    border-radius: 50%;
    border-top: 10px solid #9356dc;
    border-right: 10px solid #ff79da;
    border-bottom: 10px solid #9356dc;
    animation: loader 2s linear infinite;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    99% {
      transform: rotate(360deg);
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  /* header */
  .head {
    text-align: center;
  }

  .logo-entreprise {
    padding: 15px;
    max-width: 50%;
    margin-top: 20px;
  }

  /* Réservation*/
  .bloc-reservation {
    display: flex;
    flex-direction: column;
  }
  .bloc-reservation .localisation {
    background-color: #e2e2e2;
    display: flex;
    padding-left: 30%;
  }
  .bloc-reservation .localisation i {
    display: flex;
    align-items: center;
    color: black;
    margin-right: 20px;
    font-size: large;
  }
  .bloc-reservation .reservation {
    background-color: #f0f0f0;
  }
  .bloc-reservation .reservation-texte {
    text-align: center;
    padding-bottom: 10px;
    padding: 0 30px 0 30px;
  }
  .bloc-reservation .reservation-texte h1 {
    padding-top: 20px;
    margin-bottom: -10px;
  }
  .bloc-reservation .reservation-recherche {
    text-align: center;
    padding-bottom: 60px;
  }
  .bloc-reservation .bouton-recherche {
    background: linear-gradient(170deg, #ff79da, #9356dc);
    border-style: none;
    color: white;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    font-size: 18px;
  }

  /* Fonctionnement */
  .fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 40px 0 40px 0;
  }
  .fonctionnement h2 {
    align-items: center;
    padding-bottom: 20px;
  }
  .fonctionnement .fonctionnement-choix {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fonctionnement .choix {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 16px solid #f0f0f0;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 16px #0000002e;
    width: 80%;
    font-weight: bold;
    font-size: 16px;
  }
  .fonctionnement .choix .numero {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 15px;
    font-weight: normal;
    background: #9356dc;
    color: white;
    margin: -28px;
  }
  .fonctionnement .choix i {
    display: flex;
    padding-left: 16px;
    align-items: center;
    border-radius: 30px;
    height: 40px;
    color: #524e4e;
  }
  .fonctionnement .choix div {
    position: absolute;
  }
  .fonctionnement .choix span {
    padding-left: 20px;
  }
  .fonctionnement .choix :hover {
    color: #9356dc;
  }

  /* Restaurants */
  #restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 30px 30px 80px 30px;
    gap: 20px;
  }

  .offre-restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
  }

  .img-restaurants img {
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
  }

  .nouveau {
    background-color: #99e2d0;
    color: #167a61;
    padding: 10px;
    right: 40px;
    border-radius: 5px;
    position: absolute;
    transform: translate(0%, 50%);
  }

  .texte-bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
  }

  .texte-restaurants {
    font-size: 22px;
    font-weight: normal;
  }

  .texte-restaurants h3 {
    margin: 0;
    padding: 0;
  }

  .texte-restaurants p {
    margin: 0;
    padding: 5px 0 10px 0;
  }

  .icon {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .fas:hover {
    transition: all 0.5s;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    cursor: grab;
  }

  /* footer */
  .footer {
    background-color: #524e4e;
    height: 100%;
    padding: 20px 20px 30px 20px;
  }
  .footer .footer-logo {
    padding-bottom: 15px;
  }
  .footer .footer-logo a {
    text-decoration: none;
    color: white;
    font-family: "Shrikhand", cursif;
  }
  .footer .footer-texte {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-texte a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
  }
  .footer .footer-texte i {
    width: 15px;
  }
  .footer .fas {
    font-size: 14px;
    padding-right: 10px;
    color: white;
  }
}

/*# sourceMappingURL=accueil.mobile.css.map */
