@charset "UTF-8";
@media screen and (min-width: 551px) and (max-width: 1280px) {
  @keyframes loader {
    0% {
      transform: rotate(0deg) scale(1);
      border-top: 10px solid #9356dc;
      border-bottom: 10px solid #9356dc;
    }
    50% {
      transform: rotate(360deg) scale(1.15);
      border-top: 10px solid #99e2d0;
      border-bottom: 10px solid #99e2d0;
    }
    75% {
      transform: rotate(720deg) scale(1);
      border-top: 10px solid #ff79da;
      border-bottom: 10px solid #ff79da;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes loader-opacite {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
    }
  }
  @keyframes anim_coeur {
    0% {
      background: left bottom 0%/100% 0% no-repeat linear-gradient(#ff79da, #9356dc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background: left bottom 0%/100% 100% no-repeat linear-gradient(#ff79da, #9356dc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @keyframes anim-texte-bloc {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes anim_selection {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      left: 0;
      transition: left 1s, transform 1s;
      white-space: nowrap;
    }
  }
  /* général */
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  h3 {
    font-size: 15px;
    font-weight: bold;
  }

  h4 {
    font-size: 16px;
    font-weight: normal;
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
  }

  .head {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

  .logo-entreprise {
    padding: 15px;
    max-width: 50%;
    margin-top: 20px;
    margin-left: 25px;
  }

  .bouton {
    background-color: white;
    border: white;
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
    color: black;
  }

  .image-restaurant {
    width: 100%;
  }

  .int-restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 30px 30px;
    background-color: #f0f0f0;
    border-radius: 60px 60px 0 0;
    margin-top: -60px;
    position: absolute;
    width: 87%;
  }

  .texte {
    font-size: 32px;
    font-family: "Shrikhand", cursif;
  }

  .fa-heart::before {
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 40px;
    padding-bottom: 20px;
  }

  .fa-heart:hover::after {
    content: "\f004";
    position: absolute;
    z-index: 0;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    background: left bottom 0%/100% 0% no-repeat linear-gradient(#ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim_coeur 1s forwards;
  }

  .liste-plat {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
  }

  .plat h3 {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: medium solid #99e2d0;
    padding-bottom: 5px;
  }

  .plat {
    margin-top: 10px;
    width: 50px;
    padding: 20px 0px 0px 20px;
    position: relative;
  }

  .texte-bloc {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }

  .restaurants {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin: 0px 0px 20px 20px;
    padding: 12px 20px 0px 20px;
    width: 100%;
  }

  .texte-restaurants {
    margin: 0;
  }
  .texte-restaurants h3 {
    margin: 0;
    padding: 0;
  }
  .texte-restaurants p {
    margin: 0;
    padding: 5px 0 5px 0;
    font-size: 13px;
  }

  .selection {
    display: none;
  }

  .selection {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 65px;
    border-radius: 0 20px 20px 0;
    color: white;
    background-color: #99e2d0;
  }

  .selection i {
    font-size: 30px;
    transform: rotate(-360deg);
    transition: transform 2s;
  }

  .selection i:hover {
    transform: rotate(0deg);
  }

  .restaurants :hover {
    width: 70%;
    transition: transform 2s;
  }

  .texte-restaurants :hover {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: min-width 2s;
  }

  .tarif {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 14px;
  }

  .commander {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 100px;
  }
  .commander .bouton-commander {
    background: linear-gradient(170deg, #ff79da, #9356dc);
    border-style: none;
    color: white;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    font-size: 18px;
  }

  .footer {
    background-color: #524e4e;
    height: 100%;
    padding: 20px 20px 30px 20px;
  }
  .footer .footer-logo {
    padding-bottom: 15px;
  }
  .footer .footer-logo a {
    text-decoration: none;
    color: white;
    font-family: "Shrikhand", cursif;
  }
  .footer .footer-texte {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-texte a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
  }
  .footer .footer-texte i {
    width: 15px;
  }
  .footer .fas {
    font-size: 14px;
    padding-right: 10px;
    color: white;
  }
}

/*# sourceMappingURL=Menu3_francaise.tablette.css.map */
