// Animation loader

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    border-top: 10px solid $primaire;
    border-bottom: 10px solid $primaire;
  }

  50% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.15);
    border-top: 10px solid $tertiaire;
    border-bottom: 10px solid $tertiaire;
  }

  75% {
    transform: translate(-50%, -50%) rotate(720deg) scale(1);
    border-top: 10px solid $secondaire;
    border-bottom: 10px solid $secondaire;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
  }
}

@keyframes loader-opacite {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}

// Animation favori

@keyframes anim_coeur {
  0% {
    background: left bottom 0% / 100% 0% no-repeat
      linear-gradient($secondaire, $primaire);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: left bottom 0% / 100% 100% no-repeat
      linear-gradient($secondaire, $primaire);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Animation bloc menu

@keyframes anim-texte-bloc {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
