@media (max-width: 550px) {
  @import "variables";

  /* général */

  body {
    font-family: $font-family;
    margin: 0;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
  }

  h4 {
    font-size: 22px;
    font-weight: normal;
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
  }

  // Loader

  #loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: $grisClair;
    overflow: hidden;
    animation: loader-opacite 2s linear 3s;
    animation-fill-mode: forwards;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 10px solid $grisMoyen;
    border-radius: 50%;
    animation: loader 2s linear infinite;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg) scale(1);
      border-top: 10px solid $violet;
      border-bottom: 10px solid $violet;
    }
    50% {
      transform: rotate(360deg) scale(1.15);
      border-top: 10px solid $vert;
      border-bottom: 10px solid $vert;
    }

    75% {
      transform: rotate(720deg) scale(1);
      border-top: 10px solid $rose;
      border-bottom: 10px solid $rose;
    }

    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes loader-opacite {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
    }
  }

  /* header */

  .head {
    text-align: center;
  }

  .logo-entreprise {
    padding: 15px;
    max-width: 50%;
    margin-top: 20px;
  }

  /* Réservation*/

  .bloc-reservation {
    display: flex;
    flex-direction: column;
    .localisation {
      background-color: $grisMoyen;
      display: flex;
      padding-left: 30%;
      i {
        display: flex;
        align-items: center;
        color: black;
        margin-right: 20px;
        font-size: large;
      }
    }
    .reservation {
      background-color: $grisClair;
    }
    .reservation-texte {
      text-align: center;
      padding-bottom: 10px;
      padding: 0 30px 0 30px;
      h1 {
        padding-top: 20px;
        margin-bottom: -10px;
      }
    }
    .reservation-recherche {
      text-align: center;
      padding-bottom: 60px;
    }
    .bouton-recherche {
      background: linear-gradient(170deg, $rose, $violet);
      border-style: none;
      color: white;
      border-radius: 30px;
      padding: 20px 30px 20px 30px;
      font-size: 18px;
    }
  }

  /* Fonctionnement */

  .fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 40px 0 40px 0;
    h2 {
      align-items: center;
      padding-bottom: 20px;
    }
    .fonctionnement-choix {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .choix {
      display: flex;
      align-items: center;
      background-color: $grisClair;
      border: 16px solid $grisClair;
      border-radius: 20px;
      margin-bottom: 40px;
      box-shadow: 0 0 16px #0000002e;
      width: 80%;
      font-weight: bold;
      font-size: 16px;
      .numero {
        text-align: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        font-size: 15px;
        font-weight: normal;
        background: $violet;
        color: white;
        margin: -28px;
      }
      i {
        display: flex;
        padding-left: 16px;
        align-items: center;
        border-radius: 30px;
        height: 40px;
        color: $grisFoncé;
      }
      div {
        position: absolute;
      }
      span {
        padding-left: 20px;
      }
      :hover {
        color: $violet;
      }
    }
  }

  /* Restaurants */

  #restaurants {
    display: flex;
    flex-direction: column;
    background-color: $grisClair;
    padding: 30px 30px 80px 30px;
    gap: 20px;
  }

  .offre-restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
  }

  .img-restaurants img {
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
  }

  .nouveau {
    background-color: $vert;
    color: $vertFoncé;
    padding: 10px;
    right: 40px;
    border-radius: 5px;
    position: absolute;
    transform: translate(0%, 50%);
  }

  .texte-bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
  }

  .texte-restaurants {
    font-size: 22px;
    font-weight: normal;
  }

  .texte-restaurants h3 {
    margin: 0;
    padding: 0;
  }

  .texte-restaurants p {
    margin: 0;
    padding: 5px 0 10px 0;
  }

  .icon {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .fa-heart::before {
    position: relative;
    // z-index: 1;
    cursor: pointer;
  }

  .fa-heart:hover::after {
    content: "\f004";
    // position: absolute;
    // z-index: 1;
    font-weight: bold;
    background: left bottom 0% / 100% 0% no-repeat
      linear-gradient($rose, $violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: anim_coeur 1s forwards;
  }

  @keyframes anim_coeur {
    0% {
      background: left bottom 0% / 100% 0% no-repeat
        linear-gradient($rose, $violet);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background: left bottom 0% / 100% 100% no-repeat
        linear-gradient($rose, $violet);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  /* footer */

  .footer {
    background-color: $grisFoncé;
    height: 100%;
    padding: 20px 20px 30px 20px;
    .footer-logo {
      padding-bottom: 15px;
      a {
        text-decoration: none;
        color: white;
        font-family: "Shrikhand", cursif;
      }
    }
    .footer-texte {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: white;
        padding-bottom: 5px;
      }
      i {
        width: 15px;
      }
    }
    .fas {
      font-size: 14px;
      padding-right: 10px;
      color: white;
    }
  }
}
