@media screen and (min-width: 764px) and (max-width: 991px) {
  @import "variables";
  @import "keyframes";

  /* Réservation*/

  .bloc-reservation {
    display: flex;
    flex-direction: row;
    width: 100%;
    .localisation {
      // justify-content: space-around;
      align-items: center;
      text-align: center;
      width: 30%;
      padding: 30px;
    }
    .reservation {
      width: 100%;
    }
  }

  /* Fonctionnement */

  .fonctionnement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 0 20px 0;
    h2 {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
    }
    .fonctionnement-choix {
      flex-direction: row;
      gap: 30px;
      margin: 0 30px 0 40px;
      max-width: 900px;
    }
  }

  /* Restaurants */

  #restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #restaurants h2 {
    flex: 1 1 100%;
  }

  .offre-restaurants {
    max-width: 320px;
    min-width: 320px;
  }

  .nouveau {
    right: 470px;
  }

  /* footer */

  .footer-texte {
    align-items: center;
  }
  .footer-logo {
    justify-content: center;
  }
}
