@media only screen and (min-width: 992px) {
  @import "variables";
  @import "keyframes";

  h1 {
    font-size: 25px;
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  h3 {
    font-size: 17px;
    font-weight: bold;
  }

  h4 {
    font-size: 17px;
    font-weight: normal;
  }

  // header

  .head {
    height: 100%;
    width: 100%;
    margin: 0px auto;
  }

  .logo-entreprise {
    display: block;
    margin: auto;
  }

  .bouton {
    font-size: 40px;
  }

  //   Image

  .image-restaurant {
    height: 300px;
  }

  //   Intitulé Restaurant

  .int-restaurant {
    top: 250px;
    margin-bottom: 220px;
  }

  .texte {
    font-size: 32px;
  }

  //   Entrées / plats / desserts

  .plat {
    margin: 10px auto;
  }

  .int-restaurant {
    justify-content: space-around;
  }

  .texte-bloc {
    width: 50%;
    margin: 10px auto;
  }

  // Footer

  .footer-texte {
    align-items: center;
  }
  .footer-logo {
    justify-content: center;
  }
}
