@media screen and (min-width: 551px) and (max-width: 1280px) {
  @import "variables";
  @import "keyframes";

  /* général */

  body {
    font-family: $font-family;
    margin: 0;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  h3 {
    font-size: 15px;
    font-weight: bold;
  }

  h4 {
    font-size: 16px;
    font-weight: normal;
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
  }

  // header

  .head {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

  .logo-entreprise {
    padding: 15px;
    max-width: 50%;
    margin-top: 20px;
    margin-left: 25px;
  }

  .bouton {
    background-color: white;
    border: white;
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
    color: black;
  }

  //   Image

  .image-restaurant {
    width: 100%;
  }

  //   Intitulé Restaurant

  .int-restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 30px 30px;
    background-color: $grisClair;
    border-radius: 60px 60px 0 0;
    margin-top: -60px;
    position: absolute;
    width: 87%;
  }

  .texte {
    font-size: 32px;
    font-family: "Shrikhand", cursif;
  }

  .fa-heart::before {
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 40px;
    padding-bottom: 20px;
  }

  .fa-heart:hover::after {
    content: "\f004";
    position: absolute;
    z-index: 0;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    background: left bottom 0% / 100% 0% no-repeat
      linear-gradient($rose, $violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: anim_coeur 1s forwards;
  }

  //   Entrées / plats / desserts

  .liste-plat {
    display: flex;
    flex-direction: column;
    background-color: $grisClair;
    // margin-top: 20px;
  }

  .plat h3 {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: medium solid $vert;
    padding-bottom: 5px;
  }

  .plat {
    margin-top: 10px;
    width: 50px;
    padding: 20px 0px 0px 20px;
    position: relative;
  }

  .texte-bloc {
    display: flex;
    // align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    // animation: anim-texte-bloc 3s forwards;
  }

  .restaurants {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin: 0px 0px 20px 20px;
    padding: 12px 20px 0px 20px;
    width: 100%;
  }

  .texte-restaurants {
    margin: 0;
    h3 {
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0;
      padding: 5px 0 5px 0;
      font-size: 13px;
    }
  }

  .selection {
    display: none;
  }

  .selection {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 65px;
    border-radius: 0 20px 20px 0;
    color: white;
    background-color: $vert;

    // animation: anim_selection 1s forwards;
  }

  .selection i {
    font-size: 30px;
    transform: rotate(-360deg);
    transition: transform 2s;
  }

  .selection i:hover {
    transform: rotate(0deg);
  }

  .restaurants :hover {
    width: 70%;
    transition: transform 2s;
  }

  .texte-restaurants :hover {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: min-width 2s;
  }

  // .selection::before {
  //   position: relative;
  //   z-index: 0;
  //   cursor: pointer;
  // }

  // .selection:hover::after {
  //   content: "\f004";
  //   position: absolute;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   max-width: 100px;
  //   height: 95px;
  //   border-radius: 0 20px 20px 0;
  //   color: white;
  //   background-color: $vert;

  //   animation: anim_selection 1s forwards;
  // }

  .tarif {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 14px;
  }

  //   Commander

  .commander {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 100px;
    .bouton-commander {
      background: linear-gradient(170deg, $rose, $violet);
      border-style: none;
      color: white;
      border-radius: 30px;
      padding: 20px 30px 20px 30px;
      font-size: 18px;
    }
  }

  // Footer

  .footer {
    background-color: $grisFoncé;
    height: 100%;
    padding: 20px 20px 30px 20px;
    .footer-logo {
      padding-bottom: 15px;
      a {
        text-decoration: none;
        color: white;
        font-family: "Shrikhand", cursif;
      }
    }
    .footer-texte {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: white;
        padding-bottom: 5px;
      }
      i {
        width: 15px;
      }
    }
    .fas {
      font-size: 14px;
      padding-right: 10px;
      color: white;
    }
  }
}
